.contact_section {
    max-width: 1000px;
    margin: 0 auto;
  }
  .contact_section h1 {
    font-size: 48px;
    font-weight: 800;
    max-width: 80%;
  }
  .contact_section p {
    font-weight: 500;
  }

  @media screen and (max-width:1024px) {
    .contact_section{
      padding: 0 50px ;
    }
  }