@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#imgContainer {
    display: flex;
    width: 100%;
    height:100%;
    overflow: hidden;
  }

  #custom-bg{
    background-image: url(../src/Assets/aboutUsBg.png);
  }
  
  #imgContainer img {
    flex: 1;
    height: 100%;
    width: 120px;
    object-fit: fill;
    filter: grayscale(100%);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, flex 0.3s ease-in-out;
  }
  
  #imgContainer img:hover {
    transform: scale(1.1);
    filter: grayscale(0); /* Remove grayscale on hover */
    flex: 1.5; /* Increase the size of the hovered image */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Optional: adds shadow on hover */
  }
  
  #imgContainer img:not(:hover) {
    flex: 1; /* Reset non-hovered images */
  }
  
  @media (max-width: 640px) {
    #imgContainer {
      flex-direction: column; /* Stack images vertically */
      height: auto; /* Allow height to adjust based on content */
    }
  
    #imgContainer img {
      width: 100%; /* Set image width to 100% for smaller screens */
      margin-bottom: 10px; /* Add margin for spacing between images */
    }
  
    #imgContainer img:hover {
      transform: scale(1); /* Remove zoom effect on smaller screens */
      flex: 1; /* Reset the flex on hover for smaller screens */
    }
  }
  